* {
    font-family: Arial, sans-serif;
}

/* te sivre para cambiar el fondo */
body {
    background-color: #dceef5;
    background-image: radial-gradient(#212d65 1px, transparent 1px), radial-gradient(#654321 1px, transparent 1px);
    background-size: 40px 40px;
    background-position: 0 0, 20px 20px;
}


/* inicio header */
.navbar {
    background-color: #0a1128;
    position: sticky;
    /* barra superior */
}


.offcanvas {
    background-color: #0a1128;
    /* barra de navegacion */
}

.letras {
    color: #ffffff;
}

.dropdown-menu {
    background-color: #001f54;
    /* barra desplegable dentro de la barra lateral de navegacion */
}


.nav-rp {
    border-radius: 8px;
    /* el bordeado de las opciones de inicio de sesesion y registrarse */
    width: 100%;
}

.nav-rp:hover {
    color: #001f54;
    background-color: #ffffff;
    border-radius: 8px;
}

#logo {
    width: 150px;
    cursor: pointer;
    transition: transform 0.3s;
}

#logo:hover {
    transform: scale(1.1);
}

.form {
    /*barra de busqueda */
    width: 300px;
    background: transparent;
    border-radius: 0;
    border-bottom: 1px solid #ffffff;
    border-top: none;
    border-left: none;
    border-right: none;
}

.form::placeholder {
    color: #ffffff;
}

.btn {
    color: #ffffff;
    border-color: #ffffff;
}

.btn:hover {
    color: #001f54;
    border-color: #ffffff;
    background-color: #ffffff;
}

#btn:active {
    color: #001f54;
    border-color: #ffffff;
    background-color: #ffffff;
}

.barra_busqueda_responsive {
    display: none;
}

.option{
    display: flex;
    justify-content: space-between;
}

.imgemp img:hover{
    transform: scale(1.1);
}

.imgemp img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #ffffff;
    border-radius: 100%;
    border: solid #0a1128 3px;
    transition: .3s;
}

.imgemp{
    box-sizing: content-box;
    width: 50px;
    height: 50px;
    margin-right: 12px;
}

/* Estilos para las ofertas */
main {
    /* position: absolute;
    overflow: hidden; */
    /* O overflow: auto; según tus necesidades */
    width: 100%;
    /* margin-top: 80px; */
    /* Altura del header */
}


.more {
    margin: 7PX;
    display: flex;
    height: 50px;
    width: 50px;
    background-color: #ffffff;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    border: solid #000000;
    position: relative;
    left: 94%;
}

.more:hover {
    transform: scale(1.2);
    /* background-color: #0a1128; */
}

.more {
    transition: .3s;
}

.more img {
    height: 25px;
    width: 25px;
}

/* footer */

.footer {
    background-color: #99B3FF;
    padding: 20px;
    text-align: center;
    bottom: 0;
    left: 0; /* Ajustado a 0 */
    width: 100%; /* Ajuste para el ancho del footer */
    box-shadow: 0 -2px 5px rgba(0,0,0,0.2); /* Añade sombra al footer */
    border-top: 1px solid #ccc; /* Añade borde superior */
    
}

/* Ajuste de la altura del contenido para evitar que se solape con el footer */


.footer ul {
    list-style-type: none;
    padding: 0;
}

.footer ul li {
    display: inline-block;
    margin: 0 10px;
}

.letras {
    font-size: 14px; /* Ajusta el tamaño de la fuente */
}

/* redes */

.redes {
    background-color: #99B3FF;
    display: flex;
    justify-content: space-between;
    width: 250px;
    height: 30px;
    margin-left: 10%;
}

.link{
    margin-left: -10%;
}

.contacto{
    margin-right: 10%;
}

.facebook{
    width: 50px;
    height: 50px;
    image-rendering: auto;
    margin-top: 1%;
    cursor: pointer;
}

.instagram{
    width: 60px;
    height: 60px;
    image-rendering: auto;
    margin-bottom: 20px;
    cursor: pointer;
}

.twitter{
    width: 40px;
    height: 40px;
    image-rendering: auto;
    margin-top: 2.6%;
    cursor: pointer;
}

.facebook:hover{
    transform: scale(1.1);
}
.facebook{
    transition: .4s;
}

.instagram:hover{
    transform: scale(1.1);
}
.instagram{
    transition: .4s;
}

.twitter{
    transition: .4s;
}

.twitter:hover{
    transform: scale(1.1);
}

@media (max-width: 700px){
    .barra_busqueda{
        display: none;
    }

    .barra_busqueda_responsive{
        display: block;
    }

    .more {
            left: 85%;
    }
}