* {
    font-family: Arial, sans-serif;
    margin: 0;
}

body {
    background-color: #dceef5;
    background-image: radial-gradient(#212d65 1px, transparent 1px), radial-gradient(#654321 1px, transparent 1px);
    background-size: 40px 40px;
    background-position: 0 0, 20px 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin-top: 50px; /* Ajuste para espacio entre header y contenido */
}

.navbar {
    background-color: #0a1128;
}

.offcanvas {
    background-color: #0a1128;
}

.letras {
    color: #ffffff;
}

.dropdown-menu {
    background-color: #001f54;
}

.nav-rp {
    border-radius: 8px;
    width: 100%;
}

.nav-rp:hover {
    color: #001f54;
    background-color: #ffffff;
    border-radius: 8px;
}

#logo {
    width: 150px;
    cursor: pointer;
    transition: transform 0.3s;
}

#logo:hover {
    transform: scale(1.1);
}

.footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%; /* Ajuste para el ancho del footer */
    box-shadow: 0 -2px 5px rgba(0,0,0,0.2); /* Añade sombra al footer */
    border-top: 1px solid #ccc; /* Añade borde superior */
}

.footer ul {
    list-style-type: none;
    padding: 0;
}

.footer ul li {
    display: inline-block;
    margin: 0 10px;
}

.letras {
    font-size: 14px; /* Ajusta el tamaño de la fuente */
}


