<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workwise Navigator</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../CSS/Login_empresa.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="website icon" href="../imagenes/wknlogo2.png">
    <link rel="stylesheet" href="../CSS/normalize.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <nav class="top-bar navbar navbar-dark">
            <a href="/"><img src="../Imagenes/wknname.png" alt="Logo" id="logo" class="logo"></a>
            <button class="nav-barra navbar-toggler" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasDarkNavbar"
                aria-labelledby="offcanvasDarkNavbarLabel"> <!-- de aqui para abajo barra de navegacion lateral-->
                <div class="offcanvas-header">
                    <h5 class="letras offcanvas-title" id="offcanvasDarkNavbarLabel">Menu</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="letras nav-rp nav-link " aria-current="page"
                                th:href="@{/registro_empresa}">Registrarse</a>
                        </li>
                        <li class="nav-item">
                            <a class="letras nav-rp nav-link" href="login_persona.html">Usuario</a>
                        </li>
                        <li class="nav-item dropdown"> <!-- barra desplagable dentro de la barrra lateral-->
                            <a class="letras nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Ver Más
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="letras dropdown-item" href="#">Estadisticas</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="letras dropdown-item" href="#">Aprende con Nosotros</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <ul class="nav-menu">
                <li class="nav-menu-item">
                    <a th:href="@{/registro_empresa}">Registrarse</a>
                </li>
                <li class="nav-menu-item">
                    <a th:href="@{/login_persona}">Usuario</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="login-form">
            <div class="image-container">
                <img src="../imagenes/Logo_empresa.png" alt="Imagen de encabezado">
            </div>
            <h1>Iniciar Sesión</h1>
            <form>
                <input type="email" placeholder="Correo electrónico" required>
                <div class="password-field">
                    <input type="password" id="password" placeholder="Contraseña" required>
                    <span class="toggle-password" onclick="togglePasswordVisibility()">
                        <i id="eye-icon" class="far fa-eye"></i>
                    </span>
                </div>
                <button type="submit">Ingresar</button>
            </form>
            <p class="contraseña_olvidada"><a href="contraseña_olvidada_emp.html">¿Olvidaste tu contraseña?</a></p>
        </div>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>
    <script>
        function togglePasswordVisibility() {
            var passwordField = document.getElementById("password");
            var eyeIcon = document.getElementById("eye-icon");

            if (passwordField.type === "password") {
                passwordField.type = "text";
                eyeIcon.classList.remove("far", "fa-eye");
                eyeIcon.classList.add("far", "fa-eye-slash");
            } else {
                passwordField.type = "password";
                eyeIcon.classList.remove("far", "fa-eye-slash");
                eyeIcon.classList.add("far", "fa-eye");
            }
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../js/contraseña_incorrecta.js"></script>
</body>

</html>