<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../CSS/inicio.css">
    <link rel="stylesheet" href="../CSS/normalize.css">
    <title>Workwise Navigator</title>
    <link rel="website icon" href="../imagenes/wknlogo2.png">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</head>

<body>
    <header class="top-bar">
        <nav class="navbar navbar-dark  fixed-top">
            <div class="container-fluid"> <!-- barra superior-->
                <a class="navbar-brand" th:href="@{/login_inicio}">
                    <img src="../Imagenes/wknname.png" alt="Logo" id="logo" class="logo">
                </a>
                <div class="barra_busqueda">
                    <form class="d-flex" role="search">
                        <input class="form form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- de aqui para abajo barra de navegacion lateral-->
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasDarkNavbar"
                    aria-labelledby="offcanvasDarkNavbarLabel"> 
                    <div class="offcanvas-header">
                        <h5 class="letras offcanvas-title" id="offcanvasDarkNavbarLabel">Menu</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="letras nav-rp nav-link " aria-current="page" th:href="@{/}">Cerrar Sesión</a>
                            </li>
                            <li class="nav-item">
                                <a class="letras nav-rp nav-link " aria-current="page" href="#">Mi perfil</a>
                            </li>
                            <li class="nav-item">
                                <a class="letras nav-rp nav-link " aria-current="page" href="#">Configuracion</a>
                            </li>
                            <li class="nav-item">
                                <a class="letras nav-rp nav-link" href="#">Estadisticas</a>
                            </li>
                            <li class="nav-item dropdown"> <!-- barra desplagable dentro de la barrra lateral-->
                                <a class="letras nav-link dropdown-toggle" href="#" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Ver Más
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="letras dropdown-item" href="#">Estadisticas</a></li>
                                    <li><a class="letras dropdown-item" href="">Empresa</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="letras dropdown-item" href="#">Aprende con Nosotros</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div th:each="Oferta:${Ofertas}">
                        <div class="offer" data-id="${Oferta.id}">
                            <h3 th:text="${Oferta.titulo_puesto}"></h3>
                            <p th:text="${Oferta.descripcion}"></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="offerDetails" style="display: none;">
                        <button id="closeOfferDetails">X</button>
                        <h3></h3>
                        <p></p>
                    </div>     
                </div>
            </div>
        </div>
    </main>
    <footer>

    </footer>
    <script src="../js/Inicio.js"></script>
</body>

</html>