<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workwise Navigator</title>
    <link rel="stylesheet" href="../CSS/Registrar_persona.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="website icon" href="../Imagenes/wknlogo2.png">
    <link rel="stylesheet" href="../CSS/normalize.css">
</head>

<body>
    <header>
        <nav class="top-bar">
			<a href="/Inicio"><img src="../Imagenes/wknname.png" alt="Logo" id="logo" class="logo"></a>
            <ul class="nav-menu">
                <li class="nav-menu-item">
                    <a th:href="@{/login_persona}">Iniciar sesion</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="register-form">
            <h1>REGISTRARSE</h1>
            <form th:action="@{/Inicio}" th:object="${Usuario}" method="post">
                <input th:field="*{nombrePer}" type="text" placeholder="Nombre(s)" required>
                <input th:field="*{apellidoPer}" type="text" placeholder="Apellido(s)" required>
                <input th:field="*{Email}" type="email" placeholder="Correo electrónico" required>
                <div class="password-field">
                    <input th:field="*{contraseña}" id="password" type="password" placeholder="Contraseña" required>
                    <span class="toggle-password" onclick="togglePasswordVisibility()">
                        <i id="eye-icon" class="far fa-eye"></i>
                    </span>
                </div>
                <input th:field="*{repetirContraseña}" type="password" placeholder="Confirmar Contraseña" required>
                <button type="submit">Registrarse</button>
            </form>
        </div>
    </main>
    <script>
        function togglePasswordVisibility() {
            var passwordField = document.getElementById("password");
            var eyeIcon = document.getElementById("eye-icon");

            if (passwordField.type === "password") {
                passwordField.type = "text";
                eyeIcon.classList.remove("far", "fa-eye");
                eyeIcon.classList.add("far", "fa-eye-slash");
            } else {
                passwordField.type = "password";
                eyeIcon.classList.remove("far", "fa-eye-slash");
                eyeIcon.classList.add("far", "fa-eye");
            }
        }
    </script>
</body>
</html>
